<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xmlns:p="http://www.springframework.org/schema/p" 
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd 
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context.xsd"> 
	   
	   <bean name = "ipl" class = "com.jsp.MavenProject3.Ipl" 
		p:teamName="RCB" p:captainName="Faf Duplesis">
		
		<property name="players">
		<list>
		<value>Virat Kohli</value>
		<value>Glenn MaxWell</value>
		<value>Harshal Patel</value>
		<value>Mohammed Siraj</value>
		<value>Josh Hazelwood</value>
		
		</list>
		
		
		</property> 

		</bean>
	   
	   
	   
	   
	   </beans>